%section.contacts
  .wrapper#contacts
    .title
      Центральные офисы продаж в Москве


    .offices.clearfix
      .office
        .name
          «Аэропорт»
        .metro-title Ближайшие станции метро
        .metro-stations
          .metro
            Сокол
            %span.distance 428 м

          .metro
            Аэропорт
            %span.distance 1033 м

          .metro
            Войковская
            %span.distance 1993 м


        .phone
          Телефон
          .number
            (495) 540-58-46

        .address
          Адрес
          .street
            ул. Старослободская, дом 3


        .rejim
          Режим работы:

          .dates
            В будни: 10.00-19.00
            %br
            В выходные: 10.00-16.00



      .office
        .name
          «Бутово»
        .metro-title Ближайшие станции метро
        .metro-stations
          .metro
            Бульвар Дмитрия Донского
            %span.distance 850 м

          .metro
            Анино
            %span.distance 3400  м

          .metro
            Ясенево
            %span.distance 8000  м


        .phone
          Телефон
          .number
            (495) 662-47-54

        .address
          Адрес
          .street
            ул. Феодосийская, дом 2


        .rejim
          Режим работы:

          .dates
            В будни: 10.00-19.00
            %br
            В выходные: 10.00-16.00


      .office
        .name
          «Выхино»
        .metro-title Ближайшие станции метро
        .metro-stations
          .metro
            Выхино
            %span.distance 579 м

          .metro
            Рязанский Проспект
            %span.distance 1825 м

          .metro
            Новогиреево
            %span.distance 3505 м


        .phone
          Телефон
          .number
            (495) 662-96-24

        .address
          Адрес
          .street
            ул. Вешняковская, дом 22А,
            %br
            ТЦ «Вешняковский пассаж», 2 этаж


        .rejim
          Режим работы:

          .dates
            Ежедневно: 10.00-22.00


      .office.bottom
        .name
          «Красносельская»
        .metro-title Ближайшие станции метро
        .metro-stations
          .metro
            Сокольники
            %span.distance 600  м

          .metro
            Красносельская
            %span.distance 1233  м

          .metro
            Комсомольская
            %span.distance 1842  м


        .phone
          Телефон
          .number
            (495) 540-58-34

        .address
          Адрес
          .street
            ул. Старослободская, дом 3


        .rejim
          Режим работы:

          .dates
            В будни: 10.00-19.00
            %br
            В выходные: 10.00-16.00




      .office.bottom
        .name
          «Ленинский проспект»
        .metro-title Ближайшие станции метро
        .metro-stations
          .metro
            Университет
            %span.distance 968  м

          .metro
            Профсоюзная
            %span.distance 1534  м

          .metro
            Академическая
            %span.distance 2069  м


        .phone
          Телефон
          .number
            (495) 660-36-89

        .address
          Адрес
          .street
            Ленинский проспект, дом 79


        .rejim
          Режим работы:

          .dates
            В будни: 10.00-19.00
            %br
            В выходные: 10.00-16.00




