.modal-overlay
.modal-form
  .offer
    Оставьте ваши контактные данные

    .small
      и в течение 15 минут с вами свяжется наш менеджер

  .form
    %input{type: :text, name: :username, placeholder: 'Ваше имя *'}
    %input{type: :text, name: :phone, placeholder: 'Ваш телефон*'}
    .button.send-form
      Отправить


.modal-thank-you
  .modal-header
    Спасибо!
  .body
    Мы свяжемся с вами очень скоро.
    .button#hide-thank-you
      Я буду ждать