%section.why
  .wrapper
    .title
      Почему стоит заказать пластиковые окна
      %br
      в компании Калева?

    .why
      .triggers.clearfix
        .trigger
          .icon
            %img{src: '/images/timer_icon.png'}
          .body
            .name Готовое окно уже через 5 дней
            От подписания договора, до установки окон в
            вашей квартире проходит не более пяти суток.

        .trigger
          .icon
            %img{src: '/images/budget_icon.png'}
          .body
            .name Удобные способы оплаты
            Мы принимаем к оплате карты Visa, MasterCard
            и наличные деньги.


        .trigger
          .icon
            %img{src: '/images/trash_icon.png'}
          .body
            .name Вынесем строительный мусор
            После окончания работ по монтажу, весь мусор
            будет тщательнособран в плотные мусорные
            пакеты и вынесен на лестничную площадку

        .trigger
          .icon
            %img{src: '/images/strip_icon.png'}
          .body
            .name Беcпроцентная рассрочка
            Наша беспроцентная рассрочка позволит вам
            приобрести окна уже сегодня.
            Первый взнос - 0 рублей.