%li.model.design
  .model-about
    .model-title
      Преимущества системы:

    .model-widget
      .widget-line
        .line-name Теплоизоляция:
        .line-stars.four-stars

      .widget-line
        .line-name Звукоизоляция:
        .line-stars.four-stars

      .widget-line
        .line-name Светопропускание:
        .line-stars.four-stars


    .button.show-form Узнать цену