%li.model.vita
  .model-about
    .model-title
      Преимущества системы:

    .model-widget
      .widget-line
        .line-name Теплоизоляция:
        .line-stars.four-stars

      .widget-line
        .line-name Звукоизоляция:
        .line-stars.four-stars

      .widget-line
        .line-name Светопропускание:
        .line-stars.five-stars


    .button.show-form Узнать цену