.sample
  .illustration.second
  .about
    .name
      Трехстворчатое окно
    .params
      .param
        1800x1400 мм
        .gray
          глухая, поворотно-откидная и глухая створка
    .prices
      .price.old
        16 566 руб
      .price.new
        11 890 руб

    .button.show-form
      Заказать