.sample
  .illustration.third
  .about
    .name
      Балконный блок
      %span.gray «Standart»
    .params
      .param
        1830x2160 мм
      .param
        670х2160 мм
        .gray поворотная
      .param
        1160х1400 мм
        .gray глухоповоротная

    .prices
      .price.old
        22 323 руб
      .price.new
        18 890 руб

    .button.show-form
      Заказать