.sample
  .illustration.first
  .about
    .name
      Двустворчатое окно
    .params
      .param
        1400x1400 мм
        .gray поворотная и глухая

    .prices
      .price.old
        13 980 руб
      .price.new
        9 890 руб

    .button.show-form
      Заказать